main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.step_counter {
  width: 700px;
  height: 600px;

  background-color: #aaaaaa;
  border: 3px solid #0e4330;
  border-radius: 15px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.date {
  width: 170px;
  height: 40px;
  padding: 0;

  border: solid 2px #216149;
  border-radius: 10px;
  outline: none;

  font-size: 18px;
  text-align: center;
}

.distance {
  width: 170px;
  height: 40px;
  padding: 0;

  border: solid 2px #216149;
  border-radius: 10px;
  outline: none;

  font-size: 18px;
  text-align: center;
}

label {
  width: 150px;
  margin-bottom: 10px;

  display: block;
  text-align: center;
}

.btn {
  width: 80px;
  height: 44px;
  margin-top: 27px;
  padding: 0;

  border: solid 2px #216149;
  border-radius: 10px;
}

.history {
  width: 600px;
  height: 350px;

  border: solid 2px #216149;
  border-radius: 15px;
}

.history-header {
  width: 600px;
  height: 50px;

  display: flex;
  justify-content: space-between;

  background-color: #c9c9c9;
  border-radius: 15px 15px 0 0;
}

.date-header {
  height: 100%;
  margin-left: 20px;
  line-height: 50px;
}

.distance-header {
  height: 100%;
  margin-right: 20px;

  line-height: 50px;
}

.action-header {
  height: 100%;
  margin-right: 25px;
  line-height: 50px;
}

.history-journal {
  width: 600px;
  height: 300px;

  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

.note {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note_date {
  margin-left: 30px;
}

.note_actions {
  margin-right: 20px;

  display: flex;
  justify-content: space-around;
}

.note_distance {
  margin-left: 20px;
}

.edit {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  padding: 1px;

  background-image: url("../public/pencil.png");
  background-size: cover;

  cursor: pointer;
}

.delete {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  padding: 1px;

  background-image: url("../public/cross.png");
  background-size: cover;

  cursor: pointer;
}
